﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="InspectorInputForm.ascx.cs" Inherits="SIT_Web_Admin.InspectorInputForm" %>

<div class="form-group">
    <label for="inspector_first_name" class="col-sm-2 control-label">Inspector First Name</label>
    <div class="col-sm-4">
        <asp:TextBox runat="server" ID="inspector_name" CssClass="form-control"></asp:TextBox>
    </div>
    <label for="inspector_last_name" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-4">
        <asp:TextBox runat="server" ID="TextBox1" CssClass="form-control"></asp:TextBox>
    </div>
</div>
<%--<div class="form-group">
    <label for="inspector_user" class="col-sm-2 control-label">Inspector Username</label>
    <div class="col-sm-10">
        <asp:TextBox runat="server" ID="inspector_user" CssClass="form-control"></asp:TextBox>
    </div>
</div>
<div class="form-group">
    <label for="inspector_pass" class="col-sm-2 control-label">Temporary Password</label>
    <div class="col-sm-10">
        <asp:TextBox runat="server" ID="inspector_pass" CssClass="form-control"></asp:TextBox>
    </div>
</div>
<div class="form-group">
    <label for="glass_id" class="col-sm-2 control-label">Glass Pair ID</label>
    <div class="col-sm-10">
        <asp:TextBox runat="server" ID="glass_id" CssClass="form-control"></asp:TextBox>
    </div>
</div>--%>